body {
	background-image: url("img/back_9.jpg");
	padding: 50px 100px;
	font-size: 13px;
	font-style: Verdana, Tahoma, sans-serif;
}

h2 {
	margin-bottom: 20px;
	color: #474E69
}

input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: gray;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
	width: 400px;
	max-width: 400px;
	min-width: 400px;
	height: 150px;
	min-height: 50px;
	max-height: 500px;
	line-height: 18px;
}

input:hover, textarea:hover, input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
	margin-left: 10px;
	color: gray;
}

.submit input {
	width: 100px;
	height: 40px;
	background-color: #474E69;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.submit input:hover {
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 8px;
	background-color: #585d73;

}
