body {
	background-image: url('img/back.jpg');
	color: #152915;
	font-size: 95%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height: 1.5;
	text-align: left;
	margin: 0 auto;
	width: 70%;
	clear: both:
}

.selector-for-some-widget {
  box-sizing: content-box;
}

nav ul {
	margin: 0 auto;
	padding: 20px 29%;
}

nav ul li {
	display: inline-block;
	padding: 15px 30px;

}

nav ul li a {
	font-size: 18px;
	text-decoration: none;
	color: white;


}

nav li a:hover {
	background-color: orange;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

img {
	width: 220px;
	padding: 10px;
}

img:hover {
	width: 240px;
	padding: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
