:root {
	--primary-color: white;
	--text: #455963;
	--hover: black;
    --footer: #3e5e7e;
}

body {
    color: var(--hover);
    background-color: var(--primary-color);
    width: 100%;
    margin: 0;
    font-size: 1vw;
    font-family: 'PT Serif Caption', serif;
	line-height: 1.5;
	text-align: left;
}

a {
    font-size: 1.8vw;
    letter-spacing: 2px;
    text-decoration:none;
}
a:link, a:visited {
	color: var(--text);
}

a:hover, a:active {
	color: var(--text);
}

h1, h3, h5, h6 {
    border-radius: 15%;
    margin: 0;
    background-color: var(--text);
}

h4, h2 {
    margin: 0;
    letter-spacing: 3px;
}

ul {
    list-style: none;
    padding: 0;
	margin: 0;
}

.mentormate-logo {
    background-image: url('img/mentormate-logo.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

nav {
    z-index: 1;
    font-family: 'Alice', serif;
	background-color: var(--primary-color);
	position: fixed;
	width: 100%;
    display: grid;
    grid-template-areas: '. nav nav';
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
}

header nav ul {
	grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
	display: grid;
	align-content: center;
    grid-area: nav;
}

header nav ul li {
	text-align: center;
	display: inline;
	list-style: none;
}

Header nav a:link {
	display: inline-block;
	padding: 5% 30%;

Header nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	color: var(--hover);
	text-shadow: none;
}

.fixed-position {
    background-color: var(--primary-color);
    padding: 2%;
    font-size: 3.5vw;
    text-align: center;
    color: var(--text);
}

article {
	line-height: 25px;
	border-radius: 5px;
	width: 100%;
	float: none;
	background-color: var(--navigation-color);
	padding: 30% 0%;
	text-align: center;
}

.Media {
	padding: 0 5%;
	display: grid;
	grid-template-columns: auto auto;
}

.container {
  position: relative;
}

.container img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 100%;
	height: auto;
	border-radius: 100%;
}

.image {
  opacity: 1;
  transition: 1s ease;
  backface-visibility: hidden;
}

.middle {
    transition: .8s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
  opacity: 0.2;
}

.container:hover .middle {
  opacity: 1;
}

.middle a {
  background-color: #4CAF50;
  color: white;
  font-size: 1.5vw;
}

footer {
    font-family: 'Alice', serif;
    background-color: var(--footer);
    color: var(--primary-color);
	text-align: left;
	list-style: none;
	padding: 1% 5%;
	margin: 0;
}

footer a:hover, footer a:active {
    color: var(--primary-color);
}

footer a:link, footer a:visited {
    color: var(--primary-color);
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
    align-content: center;
    margin-bottom: 3%;
}

.address {
    display: grid;
    grid-template-columns: auto auto auto;
}

/* Style of the Contact form*/
#OrdersTittle {
	background-color: pink;
	grid-area: top_left;
	margin: 0;
	padding: 20%;
}

#OrdersBackground { grid-area: right; }

.ContactBody {
	background-color: white;
	max-height: 720px;
	max-width: 1580px;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 13px;
	font-style: Verdana, Tahoma, sans-serif;
	display: grid;
	grid-template-areas:
	'top_left right'
	'left right';
}

.form {
	padding: 10%;
	background-color: pink;
	grid-area: left;
}

input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: gray;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

textarea {
	width: 400px;
	max-width: 400px;
	min-width: 400px;
	height: 150px;
	min-height: 50px;
	max-height: 500px;
	line-height: 18px;
}

input:hover, textarea:hover, input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

.form label {
	margin-left: 10px;
	color: gray;
}

.submit input {
	width: 100px;
	height: 40px;
	background-color: #474E69;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

}

@media only screen and (min-width: 150px) and (max-width: 1000px)
{
    body {
        font-size: 2.5vw;
    }

    a {
        font-size: 4vw;
    }

    .mentormate-logo {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav {
        display: block;
        position: static;
        box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
    }

    Header nav ul {
        grid-template-columns: auto auto;
        padding-left: 0;
        line-height: 0;
    }

    Header nav a:link {
    padding: 7% 0%;
    }

    .Media {
    	grid-template-columns: auto;
        padding: 0;
    }

    .middle h3{
        font-size: 4vw;
        padding: 1%;
    }

    .middle {
        opacity: 1;
    }

    .middle a, .middle p {
        opacity: 0;
    }

    .container:hover .middle a, .container:hover .middle p{
        opacity: 1;
    }

	.Firstcontainer {
		display: grid;
		grid-template-columns: auto auto auto;
	}

    footer {
        padding: 1% 1%;
        text-align: center;
    }
}
