:root {
	--hover-color: #86C21F;
	--trird-color: #0A0A0A;
	--navigation-color: #123456;
}

body {
	color: white;
  width: 100%;
  margin: 0;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
  font-family: 'Pangolin', cursive;
	line-height: 1.5;
	text-align: left;
}

a {
	font-size: 1.5vw;
  text-decoration:none;
}

a:link, a:visited {
	color: white;
}

a:hover, a:active {
	color: var(--trird-color);
}

h1 {
	margin: 0;
}

h2 {
	margin: 0 auto;
}

.body {
	margin: 0 auto;
	width: 100%;
	clear: both;
}

header nav {
	background-color: var(--navigation-color);
}

header nav ul {
	grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
	display: grid;
	align-content: center;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

header nav ul li {
	text-align: center;
	display: inline;
	list-style: none;
}

header nav a:link, header nav a:visited {
	color: white;
	display: inline-block;
	padding: 5% 30%;

}

header nav a:hover, header nav a:active, header nav .active a:link, header nav .active a:visited {
	background-color: var(--hover-color);
	text-shadow: 2%;
}

header nav ul li a {
	border-radius: 15px;
}

article {
	line-height: 25px;
	border-radius: 5px;
	width: 100%;
	float: none;
	background-color: var(--navigation-color);
	padding: 30% 0%;
	text-align: center;
}

article ul {
	grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
	display: grid;
	align-content: center;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	background-color: var(--hover-color);
}

article ul li {
	text-align: center;
	display: inline;
	list-style: none;
}

/*Style of the Players page*/

#Field {
	padding: 10% 10%;
	background-image: url('img/back.jpg');
	background-size: cover;
}

.Players {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 5%;
	margin-bottom: 25%;
}

.container {
  position: relative;
}

.container img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 100%;
	height: auto;
	border-radius: 100%;
}

.image {
  opacity: 1;
  transition: 1s ease;
  backface-visibility: hidden;
}

.middle {
	text-align: center;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .image {
  border-radius: 0;
}

.container:hover .middle {
  opacity: 1;
}

.middle a {
  background-color: var(--hover-color);
  color: white;
  font-size: 1.5vw;
}
/*END Style of the Players page*/

footer {
	width: 100%;
	background-color: var(--navigation-color);
	padding: 0;
}

footer p {
	text-align: center;
	margin: 0px;
	font-size: 120%;
	width: 100%;
	color: #000;
}

footer a {
	font-size: 95%;
	text-align: center;
	display: block;
	margin: 0, auto;

}

@media only screen and (min-width: 150px) and (max-width: 1000px)
{

	.body {
		width: 90%;
		font-size: 95%;
	}

	a {
		font-size: 2.5vw;
		letter-spacing: 3px;
	}

	header nav ul {
		padding-left: 0;
	}

	header nav ul li {
		width: 100%;
		text-align: center;
	}

	header nav a:link, header nav a:visited {
		padding: 10% 0%;
		display: block;
	}

	.Firstcontainer {
		display: grid;
		grid-template-columns: auto auto auto;
	}

	.Content {
		width: 100%;
		float: left;
		margin-top: 0%;
	}

	article {
		margin-top: 3%;
	}
}
